{#
    This file is part of the AMP Twig theme.

    (c) Beñat Espiña <benatespina@gmail.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{##
    A component that displays the form input.

    @param form_select_class                    string
    @param form_select_disabled                 boolean=false
    @param form_select_id                       string*
    @param form_select_name                     string=form_select_id
    @param form_select_options                  array*
        - name:                                 string*
        - value:                                string*
    @param form_select_placeholder              string
    @param form_select_required                 boolean=false
    @param form_select_value                    string
#}

{% set form_select_disabled = form_select_disabled|default(false) %}
{% set form_select_name = form_select_name|default(form_select_id) %}
{% set form_select_required = form_select_required|default(false) %}

{% set class = form_select_class|default ? 'class=form-select ' ~ form_select_class : 'class=form-select' %}
{% set disabled = form_select_disabled ? 'disabled' %}
{% set id = form_select_id ? 'id=' ~ form_select_id %}
{% set name = form_select_name ? 'name=' ~ form_select_name %}
{% set required = form_select_required ? 'required' %}
{% set value = form_select_value|default %}

<select {{ id }} {{ class }} {{ name }} {{ required }} {{ disabled }}>
    {% if form_select_placeholder|default %}
        <option value="" {{ required == true ? 'hidden' }}>{{ form_select_placeholder }}</option>
    {% endif %}
    {% for option in form_select_options %}
        <option value="{{ option.value }}" {% if value == option.value %} selected="selected"{% endif %}>
            {{ option.name }}
        </option>
    {% endfor %}
</select>
